@import '../../styles/var.scss';

.index {
  padding: 26px;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    background: linear-gradient(180deg, #39b54a, #8dc63f);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    z-index: -1;
  }
  &__swiper {
    // border-radius: $border-radius-lg;
    // overflow: hidden;
    margin-bottom: 40px;
  }
  &__course {
    border-radius: $border-radius-lg;
    background: $white;
    &-title {
      font-size: $font-size-lg;
      font-weight: $font-weight-bold;
      padding: 20px;
    }
    &-content {
      padding: 0 20px;
    }

    &-item {
      margin-bottom: 12px;
    }
    &-info {
      padding: 10px 0;
    }
    &-name {
      font-size: $font-size-md;
    }
    &-detail {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: $font-size-xs;
      margin-top: 10px;
    }
    &-time {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

  }

  &__task {
    border-radius: $border-radius-lg;
    background: $white;

    &-title {
      font-size: $font-size-lg;
      font-weight: $font-weight-bold;
      padding: 20px;
    }
    &-content {
      padding: 0 20px;
    }

    &-name {
      // margin: 20px 0;
    }
    &-item {
      height: 120px;
    }
    &-left {

    }
    &-center {
      box-sizing: border-box;
      left: 120px;
      width: calc(100% - 120px - 120px);
      height: 120px;
      padding: 10px 0;
    }
    &-right {
    }
  }
}
