@import '../../styles/var.scss';


page {
  --cell-icon-size: 34px;
}

.my {
  position: relative;
  padding: 26px;
  height: 100%;
  z-index: 1;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 260px;
    background: linear-gradient(180deg, #39b54a, #8dc63f);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    z-index: -1;
  }
  &__card {
    border-radius: $border-radius-lg;
    background: $white;
    overflow: hidden;
  }
  &__info {

    &-name {
      display: inline-block;
      width: 98px;
      height: 98px;
      border-radius: 50%;
      background-color: $green;
      text-align: center;
      line-height: 98px;
      color: $white;
    }
  }
}
