@import '../../styles/var.scss';


.task {
  padding: 26px;
  &__will {
    border-radius: $border-radius-lg;
    background: $white;

    &-title {
      font-weight: $font-weight-bold;
      padding: 20px;
    }
    &-more {
      color: $gray-7;
      font-weight: $font-weight-base;
    }
    &-item {
      height: 240px;
    }
  }
  &__login {
    height: calc(100vh - 52px);
    border-radius: $border-radius-lg;

    &-card {
      border: 2px solid $green;
      border-radius: $border-radius-lg;
    }
    &-add {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      border: 2px solid $gray-4;
    }
  }
}


page {
  --tag-font-size: 20rpx
}
